../../.localized
        ../../Adobe/
        ../../Arduino/
        ../../GitHub/
        ../../PINPLE-back/
        ../../Zoom/
        ../../__pycache__/
        ../../final.zip
        ../../final/
        ../../pinple/
        ../../school/
        ../../게임프로그래밍 _문예윤.pdf
        ../../도로시/
        ../../도쿄/
        ../../문서1.pdf
        ../../문예윤/
        ../../요소 제작/
        ../../웃긴짤/
        ../../자료 (1)/
        ../../호랑이/

